<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Define materials -->
  <material name="red">
    <color rgba="1 0 0 1"/> <!-- Full red, no green or blue, fully opaque -->
  </material>
  
  <material name="green">
    <color rgba="0 1 0 1"/> <!-- Full green, no red or blue, fully opaque -->
  </material>

  <material name="blue">
    <color rgba="0 0 1 1"/> <!-- Full blue, no red or green, fully opaque -->
  </material>
  
  <material name="black">
    <color rgba="0 0 0 1"/> <!-- Full black, no red, green, or blue, fully opaque -->
  </material>
  
  <material name="grey">
    <color rgba="0.5 0.5 0.5 1"/> <!-- Medium grey, equal parts of red, green, and blue, fully opaque -->
  </material>
  
  <material name="yellow">
    <color rgba="1 1 0 1"/> <!-- Full yellow, full red and green, no blue, fully opaque -->
  </material>
</robot>